@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Homemade+Apple&family=Monoton&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Pacifico&family=Vast+Shadow&display=swap");
:root {
  --color-primary: #5f6fff;
}

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
}

.active hr {
  @apply block;
}
::-webkit-scrollbar {
  @apply hidden;
}
.grid-cols-auto {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem; /* adjust as needed */
}
@media (max-width: 740px) {
  .active p {
    @apply text-white;
    background-color: var(--color-primary);
  }
}
